# =============================================================================
# Secret Grafana Credentials - EXEMPLE
# =============================================================================
# Commande pour creer le SealedSecret :
#   kubectl create secret generic grafana-secrets \
#     --namespace monitoring \
#     --from-literal=GF_SECURITY_ADMIN_PASSWORD='MotDePasseGrafanaForT!' \
#     --dry-run=client -o yaml | \
#   kubeseal --format yaml \
#     > kubernetes/secrets/grafana-sealed.yaml
# =============================================================================
apiVersion: v1
kind: Secret
metadata:
  name: grafana-secrets
  namespace: monitoring
  labels:
    app: grafana
    app.kubernetes.io/name: grafana
    app.kubernetes.io/component: credentials
type: Opaque
stringData:
  GF_SECURITY_ADMIN_PASSWORD: "CHANGE_ME_grafana_admin_password"
